.main {
  display: flex;
  min-height: 100vh;
}
.section1 {
  background-color: white;
}
.div1 {
  display: flex;
}
.logo {
  width: 16.711px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 44px;
  margin-left: 33px;
}
.text1 {
  color: #F4694C;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-left: 20px;
  margin-top: 42px;
  margin-right: 22px;
}
.homediv {
  display: flex;
  background-color: #89e2e4;
  margin-top: 35px;
  width: 240px;
  height: 50px;
  flex-shrink: 0;
}
.home {
  margin-left: 30px;
  margin-top: 17px;
  margin-bottom: 17px;
  width: 15px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 100px;
}
.hometext {
  color: #54BCBD;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 19px;
  margin-top: 16px;
  margin-bottom: 15px;
  margin-right: 126px;
}
.timediv {
  display: flex;
}
.time {
  margin-top: 24px;
  margin-left: 29px;
}
.timetext {
  margin-left: 19px;
  margin-top: 23px;
  color: #54BCBD;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
}
.community {
  margin-top: 42px;
  margin-left: 29px;
}
.communitytext {
  margin-left: 19px;
  margin-top: 42px;
  color: #54BCBD;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
}
.hr {
  width: 170px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 0.42px;
  stroke: #D6DCE0;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 42px;
}
.header1 {
  margin-top: 40px;
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 25px;
  margin-right: 133px;
}
.sportsdiv {
  display: flex;
}
.sports {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-left: 25px;
  margin-top: 23px;
}
.sportstext {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 32px;
  margin-right: 112px;
  margin-left: 20px;
}
.gamingdiv {
  display: flex;
}
.gaming {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-left: 25px;
  margin-top: 20px;
}
.gamingtext {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 20px;
  margin-top: 30px;
}
.part1 {
  display: flex;
}
.part1h1 {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 30px;
  margin-top: 40px;
}
.part1h3 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
  margin-top: 20px;
}
.searchdiv {
  width: 320px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FFF;
  margin-left: 162px;
  margin-top: 40px;
  display: flex;
}
.search {
  width: 15.493px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 17px;
  margin-left: 17px;
  margin-bottom: 17px;
}
.searchinput {
  color: #8695A0;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  width: 77px;
  height: 19px;
  background-color: #FFF;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
  margin-left: 12.5px;
}
.part2 {
  display: flex;
  margin-top: 50px;
}
.card {
  width: 226px;
  height: 205px;
  flex-shrink: 0;
  background-color: #E0F3F3;
  margin-left: 30px;
}
.image1 {
  width: 160.449px;
  height: 156px;
  flex-shrink: 0;
  margin-left: 33px;
  margin-top: 27px;
}
.card1 {
  width: 226px;
  height: 205px;
  flex-shrink: 0;
  background-color: #E0F3F3;
  margin-left: 21px;
}
.card3 {
  width: 226px;
  height: 205px;
  flex-shrink: 0;
  background-color: #E0F3F3;
  margin-left: 21px;
  margin-right: 40px;
}
.card2 {
  background-color: white;
  height: 95px;
  padding-top: 20px;
}
.card2text {
  color: #0F3F62;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 48px;
  margin-right: 48px;
}
.card2text2 {
  color: #8695A0;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 28px;
  margin-left: 28px;
  margin-bottom: 24px;
}
.part3 {
  background-color: white;
  width: 720px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 15px;
  backdrop-filter: blur(37.69718933105469px);
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 40px;
  padding: 24px;
}
.group1 {
  display: flex;
}
.group1text {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
}
.group77 {
  margin-left: 550px;
  margin-top: 10px;
}
.group2 {
  display: flex;
}
.group2text1 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 27px;
}
.group2text2 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 27px;
  margin-left: 41px;
}
.group2text3 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 27px;
  margin-left: 287px;
}
.group2text4 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 27px;
  margin-left: 120px;
}
.polygon {
  z-index: 0;
  margin-top: 22px;
}
.polygontext {
  z-index: 1;
  margin-top: -28px;
  margin-left: 9px;
  margin-right: 10px;
  color: #FFF;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}
.group3 {
  display: flex;
}
.name1 {
  display: flex;
  margin-left: 44px;
  margin-top: 18px;
}
.name1text {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 13px;
  margin-top: 10px;
}
.crown {
  margin-top: 5px;
  margin-left: 29px;
}
.category {
  display: flex;
  width: 102px;
  height: 32.002px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #E7F7F8;
  margin-left: 83px;
  margin-top: 22px;
}
.ellipse {
  margin-left: 19px;
  margin-top: 10px;
}
.categorytext {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 6.5px;
  margin-left: 5px;
}
.points {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 80px;
  margin-top: 26px;
}
.hr1 {
  width: 599px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 0.471px;
  stroke: #D6DCE0;
  margin-left: 73px;
  margin-top: 20px;
}
.group4 {
  display: flex;
}
.polygontext1 {
  color: #0F3F62;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-top: 26px;
  margin-left: 10px;
}
.circle2 {
  margin-left: 10px;
}
.category1 {
  display: flex;
  width: 102px;
  height: 32.002px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #DAFDFF;
  margin-left: 161px;
  margin-top: 22px;
}
.category11 {
  display: flex;
  width: 102px;
  height: 32.002px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #E7F7F8;
  margin-left: 100px;
  margin-top: 22px;
}
.category12 {
  display: flex;
  width: 102px;
  height: 32.002px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFECE8;
  margin-left: 130px;
  margin-top: 22px;
}
.vr {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: -10px;
}
.unit1 {
  display: flex;
}
.item1 {
  display: flex;
}
.item2 {
  display: flex;
}
.messageicon {
  margin-top: 58px;
  margin-left: 54px;
}
.bell {
  margin-left: 17px;
  margin-top: 55px;
}
.profile {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 40px;
}
.profilename {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 10px;
  margin-top: 54px;
}
.arrow {
  margin-top: 62px;
  margin-left: 20px;
}
.unit2 {
  margin-top: 50px;
  margin-left: 30px;
}
.single {
  display: flex;
  margin-top: 25px;
}
.single1text {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.36px;
}
.single1text1 {
  width: 37px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #E0F3F3;
  margin-left: 10px;
  color: #54BCBD;
  text-align: center;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
  padding-left: 2.5px;
  padding-top: 4px;
}
.messagecircle {
  border-radius: 100px;
}
.messagetext1 {
  color: #0F3F62;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 16px;
}
.messagetext2 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 16px;
}
.number {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #F4694C;
  color: #FFF;
  text-align: center;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;  
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 4px;
}
.hr2 {
  width: 220px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 0.5px;
  stroke: #D6DCE0;
  margin-left: 52px;
  margin-top: 16px;
}
.unit3 {
  width: 300px;
  height: 311px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  margin-left: 15px;
  margin-top: 55px;
}
.top {
  width: 300px;
  height: 54px;
  flex-shrink: 0;
  background-color: #5DC2C4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  display: flex;
}
.toptext {
  color: #FFF;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.32px;
}
.cancel {
  margin-left: 175px;
  border-radius: 100px;
}
.today {
  width: 68px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #072E75;
  color: #FFF;
  text-align: center;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-left: 115px;
  margin-top: 20px;
  padding-top: 2.5px;
}
.bottomdiv {
  display: flex;
}
.bottomdivtext1 {
  width: 197px;
  height: 38px;
  flex-shrink: 0;
  background-color: #E0F3F3;
  border-radius: 15px;
  margin-top: 37px;
  margin-left: 19px;
  padding-left: 10px;
  padding-top: 10px;
  color: #5DC2C4;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
}
.bottomdivtext2 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-left: 15px;
  margin-top: 55px;
}
.bottomdivtext3 {
  color: #8695A0;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-left: 15px;
  margin-top: 46px;
}
.bottomdivtext4 {
  width: 197px;
  height: 38px;
  flex-shrink: 0;
  background-color: #5DC2C4;
  border-radius: 15px;
  margin-top: 26px;
  margin-left: 19px;
  padding-left: 10px;
  padding-top: 10px;
  color: #FFF;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
}
.middle {
  margin-top: 24px;
  display: flex;
}
.messagearea {
  width: 222px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 0.5px solid #D6DCE0; 
  margin-left: 19px;
  display: flex;
}
.messageareatext {
  color: #B7BFC6;
  font-family: Avenir;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-left: 12px;
  margin-top: 12px;
}
.messageareaimg {
  margin-top: 10px;
  margin-left: 112px;
}
.send {
  border-radius: 100px;
  margin-left: 10px;
}